<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body bgcolor="#144FEA">
    <form action="" method="post">
        <p>
            <label>Model:</label>
            <br>
            <input type="text" name="model">
            <br>
            <label>Seria:</label>
            <br>
            <input type="text" name="seria">
            <br>
            <label>How much:</label>
            <br>
            <input type="number" name="howmuch" min="0" max = 100>
            <br>
            <input type="submit">
        </p>
    </form>
    <ul>
        {%for row in data%}
        <li>{{row}}</li>
        {%endfor%}
    </ul>
    {%if message != ''%}
        <p>{{message}}</p>
    {%endif%}
</body>
</html>
